In [1]:
%matplotlib inline

import numpy as np
import matplotlib.pyplot as plt

In [2]:
import pandas as pd

In [11]:
%ls

5-01.專家訪談 秋蕙.ipynb               5-03.熊貓是 Python 的 Excel.ipynb
5-02.第五週課程簡介.ipynb              Ahorro.csv

In [29]:
df = pd.read_csv("Ahorro.csv")

In [30]:
df.head()

                              -- 支出 --
日期          帳戶  帳戶貨幣  類別  金額        描述
2017/08/01  自己  TWD   早餐  60
                      交通  130    Oil
2017/08/02  自己  TWD   交通  120    20*6
2017/08/03  老婆  TWD   飲料  45      木瓜牛奶