In [3]:
%matplotlib inline

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [4]:
df = pd.DataFrame(np.random.randn(5, 3),
                 index = list(range(1, 6)),
                 columns= list("ABC"))

In [5]:
df

          A         B         C
1  2.140299 -0.305882  0.078277
2 -0.680050 -0.695659  1.212460
3 -2.062792 -1.438549 -0.170732
4  0.409549 -0.326736 -0.097629
5 -1.792006  0.282602 -0.161893

In [6]:
df[df.B>0]

          A         B         C
5 -1.792006  0.282602 -0.161893

In [7]:
df[df.B>0]["C"] = 0

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [8]:
df.loc[2:3, "B":"C"]

          B         C
2 -0.695659  1.212460
3 -1.438549 -0.170732

In [9]:
df.loc[2, "B"]

-0.6956592099122465

In [10]:
df.loc[2, "B"] = 1

In [11]:
df

          A         B         C
1  2.140299 -0.305882  0.078277
2 -0.680050  1.000000  1.212460
3 -2.062792 -1.438549 -0.170732
4  0.409549 -0.326736 -0.097629
5 -1.792006  0.282602 -0.161893

In [12]:
df.loc[df.B>0, "C"] = 0

In [13]:
df

          A         B         C
1  2.140299 -0.305882  0.078277
2 -0.680050  1.000000  0.000000
3 -2.062792 -1.438549 -0.170732
4  0.409549 -0.326736 -0.097629
5 -1.792006  0.282602  0.000000